/node_modules
/bower_components
/public/storage
/public/vendors
/public/images
#/public/images/products/default1.png
#/public/images/products/default2.png
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
